/*----------------
GLOBALES
----------------*/
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body {
    height: 100vh;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------
ARTICLE
----------------*/
article {
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px black;
}

    /*----------------
    HEADER
    ----------------*/
    .header {
        
    }

    /*----------------
    MAIN
    ----------------*/
    .main {
        background-color: white;
        text-align: center;
    }

        /*.user_info*/
        .user_info {
            padding: 20px 0;
        }

            .user_info > p {
                color: #4BA37F;
            }

            .user_info > h1 {
                margin-top: 7px;
                margin-bottom: 5px;
            }

        /*.user_skills*/
        .user_skills {
            padding: 10px 0 20px 0;
            list-style: none;

            display: flex;
            justify-content: space-evenly;
        }

    /*----------------
    FOOTER
    ----------------*/
    .footer {
        background-color: green;
        padding: 40px;
    }

