/*----------------
GLOBALES
----------------*/
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: coral;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------------
ARTICLE
----------------*/
article {
    display: inline-block;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 7px 0px black;
}

    /*----------------
    HEADER
    ----------------*/
    .header {
        
    }

    /*----------------
    MAIN
    ----------------*/
    .main {
        background-color: blanchedalmond;
        padding: 100px 0px;
    }

    /*----------------
    FOOTER
    ----------------*/
    .footer {
        text-align: center;
    }

        .footer > a {
            box-shadow: 0px 0px 7px 0px #f76849;
            box-sizing: border-box;
            width: 100%;
            background-color: #f76849;
            display: inline-block;
            padding: 25px;
            color: white;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 18px;
        }

